.heading {
    color: red;
}


.image {
    border-radius: 0.125rem;
    /* 2px */

    width: 500px;
    height: 500px;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #fee79f;
}


.heading2 {
    color: goldenrod;
}